{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">

    <head>

        <meta charset="utf-8"/>
        <title>{%block title%}Pagina Vecinos{%endblock%}</title>
        {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
         <link rel="stylesheet" href="{% static 'js/style.css' %}" />
         {% endblock %}
    </head>
    <body>
         <div class="container-fluid">
            <div id="agrupar">
            <header>
                <div id="encabezado">
                <h4>
                    <span id="fecha_actual" style="float:right"></span> Administración Barrio
                </h4>
                </div>
            </header>
            <ul> 
              <li><a href="{% url 'listaCalles' %}">Calles</a></li>
            </ul>
            <section class="container-fluid">
                {% block content %}
                {% endblock %}
            </section>
            </div>
        </div>
    </body>
</html>